<?php

return [

    'db' => [

        'read' => [
            'driver' => 'pdo_pgsql',
            'host' => 'pgsql',
            'port' => 5432,
            'user' => 'dibby',
            'password' => 'dibby',
            'name' => 'dibby',
        ],

        'write' => [
            'driver' => 'pdo_pgsql',
            'host' => 'pgsql',
            'port' => 5432,
            'user' => 'dibby',
            'password' => 'dibby',
            'name' => 'dibby',
        ],

    ],

    'session' => [
        'key' => 'ChangeMe',
        'cookie' => 'token',
        'ttl' => 'PT30M',
    ],

    'reset_token' => [
        'ttl' => 'PT30M',
    ],

];
