<?php

return [

    'base_url' => 'http://localhost:8080',
    'from_email' => 'no-reply@getdibby.com',
    'reset_token_ttl' => 'PT30M',

    'db' => [

        'read' => [
            'driver' => 'pdo_pgsql',
            'host' => 'pgsql',
            'port' => 5432,
            'user' => 'dibby',
            'password' => 'dibby',
            'name' => 'dibby',
        ],

        'write' => [
            'driver' => 'pdo_pgsql',
            'host' => 'pgsql',
            'port' => 5432,
            'user' => 'dibby',
            'password' => 'dibby',
            'name' => 'dibby',
        ],

    ],

    'session' => [
        'key' => 'ChangeMe',
        'cookie' => 'token',
        'ttl' => 'PT30M',
        'secure' => true,
    ],

    'smtp' => [
        'host' => 'mailhog',
        'port' => 1025,
        'username' => null,
        'password' => null,
        'tls' => true,
    ],

];
