DB_READ_DRIVER=pdo_pgsql
DB_READ_HOST=pgsql
DB_READ_PORT=5432
DB_READ_USER=dibby
DB_READ_PASSWORD=dibby
DB_READ_NAME=dibby
DB_WRITE_DRIVER=pdo_pgsql
DB_WRITE_HOST=pgsql
DB_WRITE_PORT=5432
DB_WRITE_USER=dibby
DB_WRITE_PASSWORD=dibby
DB_WRITE_NAME=dibby
SESSION_KEY=ChangeMe
SESSION_TTL=1800
