DIBBY_BASE_URL=http://localhost:8080
DIBBY_DB_READ_DRIVER=pdo_pgsql
DIBBY_DB_READ_HOST=pgsql
DIBBY_DB_READ_PORT=5432
DIBBY_DB_READ_USER=dibby
DIBBY_DB_READ_PASSWORD=dibby
DIBBY_DB_READ_NAME=dibby
DIBBY_DB_WRITE_DRIVER=pdo_pgsql
DIBBY_DB_WRITE_HOST=pgsql
DIBBY_DB_WRITE_PORT=5432
DIBBY_DB_WRITE_USER=dibby
DIBBY_DB_WRITE_PASSWORD=dibby
DIBBY_DB_WRITE_NAME=dibby
DIBBY_RESET_TOKEN_TTL=PT30M
DIBBY_SESSION_KEY=ChangeMe
DIBBY_SESSION_COOKIE=token
DIBBY_SESSION_TTL=PT30M
DIBBY_SESSION_SECURE=true
DIBBY_SMTP_HOST=mailhog
DIBBY_SMTP_PORT=1025
DIBBY_SMTP_USERNAME=
DIBBY_SMTP_PASSWORD=
DIBBY_SMTP_TLS=true
